h1,
p {
    background-color: antiquewhite;
    font-family: 'Courier New';
    text-align: center;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
}

#offset {
    display: block;
}

footer {
    background-color: #ffc107;
    font-family: 'Montserrat';
    text-align: right;
    font-size: 13px;
}