body{
        background-image: url('wallpaper.jpg');
        background-size: cover;
        background-position: center;
        

}

h1,
p {
    background-color: antiquewhite;
    font-family: 'Courier New';
    text-align: center;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
}


footer {
    background-color: #ffc107;
    font-family: 'Montserrat';
    text-align: right;
    font-size: 13px;
}